.menu {
    position: absolute; 
    top: 1.5em;
    left: 22%;
}

.menu a {
    display:inline-block;
}

.logo {
    width: 140px;
}

.escritos-menu {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color:#000000;
    vertical-align:top;
    margin-left: 1em;
    padding: 6px;   
}

.escritos-menu:hover {
    color: #ff7300;
    transition-duration: 0.25s;
    transition-property: color;
   

}

.banner {
    min-width: 100%;
    height: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 7.5%;
}

.modal {
    display: inline;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden; 
}

.conteudo-modal {
  background-color: #dcecf7;
  margin: 9em auto; 
  padding: 10px;
  border: 1px solid #50ace6;
  border-radius: 6px;
  border-width: 1.5px;
  width: 40%;
}

.conteudo-modal a {
    color: #50ace6;
    text-decoration: none;
}

.botao-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight:normal;
}

.botao-modal:hover,
.botao-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

